@import 'variables.scss';

body {
  .menu-container {
    z-index: 2001;
  }
}

.panel-object {
  cursor: pointer;
  color: $dark-grey;

  .hidden {
    display: none !important;
  }

  ul {
    list-style: none;
  }

  .collapse {
    display: none;
  }

  .collapse.in {
    display: block;
  }

  .text-right {
    text-align: right !important;
  }

  .carousel {
    position: relative;
  }

  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    line-height: 1;
  }

  @media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
      -webkit-transition: -webkit-transform 0.6s ease-in-out;
      -o-transition: -o-transform 0.6s ease-in-out;
      transition: transform 0.6s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000px;
      perspective: 1000px;
    }

    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      left: 0;
    }

    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      left: 0;
    }

    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }

  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    display: block;
  }

  .carousel-inner > .active {
    left: 0;
  }

  .carousel-inner > .next,
  .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .carousel-inner > .next {
    left: 100%;
  }

  .carousel-inner > .prev {
    left: -100%;
  }

  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
    left: 0;
  }

  .carousel-inner > .active.left {
    left: -100%;
  }

  .carousel-inner > .active.right {
    left: 100%;
  }

  .carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
  }

  .carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  }

  .carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  }

  .carousel-control:hover,
  .carousel-control:focus {
    outline: 0;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }

  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
  }

  .carousel-control .icon-prev,
  .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
  }

  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
  }

  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
  }

  .carousel-control .icon-prev:before {
    content: '\2039';
  }

  .carousel-control .icon-next:before {
    content: '\203a';
  }

  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }

  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
  }

  .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
  }

  .carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

  .carousel-caption .btn {
    text-shadow: none;
  }

  @media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -10px;
      font-size: 30px;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
      margin-left: -10px;
    }

    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
      margin-right: -10px;
    }

    .carousel-caption {
      left: 20%;
      right: 20%;
      padding-bottom: 30px;
    }

    .carousel-indicators {
      bottom: 20px;
    }
  }

  .btn-raised {
    background-color: $button-primary !important;

    span {
      color: $white !important;
      font-size: 14px !important;
      font-weight: 500 !important;

      svg {
        font-size: 14px;
      }
    }

    &:hover {
      background-color: $button-primary-hover !important;
    }

    &:focus,
    &:active,
    &:visited {
      background-color: $button-primary !important;
    }

    &:disabled {
      background-color: $soft-grey !important;

      span {
        color: $grey !important;
      }

      &:hover,
      &:active,
      &:focus,
      &:visited {
        background: none !important;
      }
    }

    &.xs,
    &.grey {
      background-color: $soft-grey !important;

      span {
        color: $dark-grey !important;
      }

      &:hover {
        background-color: $grey !important;
      }

      &:focus,
      &:active,
      &:visited {
        background-color: $soft-grey !important;
      }

      &:hover {
        background-color: $grey !important;
      }

      &:focus,
      &:active,
      &:visited {
        background-color: $soft-grey !important;
      }
    }

    &.xs {
      min-height: 30px !important;

      span {
        font-size: 13px !important;
      }
    }

    &.red {
      background-color: $danger-zone-red !important;

      &:hover {
        background-color: darken($danger-zone-red, 9%) !important;
      }

      &:focus,
      &:active,
      &:visited {
        background-color: $danger-zone-red !important;
      }

      &.xs span {
        color: $white !important;
      }
    }

    &.white {
      background-color: $white !important;

      span {
        color: $acid-blue !important;
      }

      &:hover {
        background-color: $light-grey !important;
      }

      &:focus,
      &:active,
      &:visited {
        background-color: $white !important;
      }
    }

    &.blue {
      background-color: $acid-blue !important;

      span {
        color: $white !important;
      }

      &:hover {
        background-color: darken($acid-blue, 10%) !important;
      }

      &:focus,
      &:active,
      &:visited {
        background-color: $acid-blue !important;
      }
    }
  }
}

.panel-object-std {
  position: relative;
  width: 100%;
  background-color: $white;
  border-radius: 5px;
  cursor: pointer;
  //overflow: hidden;
  margin: 0;
  padding: 0;

  &.opened {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  }

  &.not-published {
    background-color: $light-grey;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    td.bimobject-actions {
      //vertical-align: top !important;
      padding: 15px 0;

      .btn-edit-fab {
        display: block;
        margin-bottom: 15px;

        > button {
          width: 44px !important;
          height: 44px !important;
          color: $button-primary;

          &:hover {
            color: $button-primary-hover
          }
        }
      }
    }
  }

  &.filter-opacity {
    z-index: 1;
  }

  .panel-object-content {
    .modal-header {
      position: relative;
      padding: 15px;
      border-bottom: 0;

      h2 {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        padding: 0;
      }

      svg {
        position: absolute;
        top: 14px;
        right: 14px;
        cursor: pointer;

        &:hover {
          color: $acid-blue;
        }
      }
    }

    > table {
      width: 100%;
      height: 220px;
      margin: 0;

      td {
        vertical-align: top;
      }

      td.bimobject-photo {
        width: 25%;
        text-align: center;
        box-sizing: border-box;
        padding: 20px 15px 15px 15px;

        .carousel {
          height: 150px;

          .carousel-inner {
            > .item > img {
              margin: 0 auto;
            }

            .carousel-control {
              position: absolute;
              top: 0;
              bottom: 0;
              left: initial !important;
              right: initial !important;
              width: 30px !important;
              background: none !important;

              i,
              svg {
                position: absolute;
                top: 42% !important;
                background: rgba(255, 255, 255, 0.7);
                text-shadow: none;
                border-radius: $notif-radius;
                color: $dark-grey;
              }

              &.left {
                left: 0 !important;

                i,
                svg {
                  right: 0 !important;
                }
              }

              &.right {
                right: 0 !important;

                i,
                svg {
                  left: 0 !important;
                }
              }
            }
          }

          ol.carousel-indicators {
            bottom: 0;
            height: 20px;
            overflow: hidden;

            li {
              width: 4px;
              height: 4px;
              background-color: $soft-grey;
              border: none;
              border-radius: 4px;
              margin: 0 6px;

              &.active {
                background-color: $acid-blue;
              }
            }
          }
        }

        img {
          width: 100%;
          max-width: 120px;
          height: auto;
          //margin: 0 0 16px 0;
        }

        .threedviewer-img {
          width: 120px;
          height: 120px;
          font-size: 24px;
          background-color: $light-grey;
          margin: 0 auto;

          span {
            margin: 0 auto;
            line-height: 120px;
          }
        }

        .fab-name {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          font-size: 16px;
          line-height: 18px;
          font-weight: 500;
          text-align: center;
          margin-bottom: 7px;

          .brand-logo {
            display: inline-block;
            vertical-align: middle;
            line-height: 20px;
          }

          img.certified-manufacturer {
            display: inline-block;
            width: 20px;
            vertical-align: middle;
            margin-left: 6px;
          }
        }

        .fab-contact {
          display: block;
          color: $neutral-60;
          font-size: 13px;
          font-weight: 500;
          text-align: center;
          text-decoration: none;
          margin-top: 5px;

          &:hover {
            color: $bc-90;
          }
        }
      }

      td.bimobject-info {
        //width: 65%;
        max-width: 200px;
        border-right: 2px dotted $light-grey;
        box-sizing: border-box;
        padding: 15px 10px 15px 0;

        .bimobject-name {
          font-size: 20px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          color: $dark-grey;

          svg {
            vertical-align: middle;
            margin-right: 7px;
            margin-top: -4px;
            color: $class-yellow;
          }
        }

        .software-label {
          margin-bottom: 5px;
        }

        .bimobject-description {
          color: $dark-grey;
          font-size: 12px;
          line-height: 20px;
          height: 20px;
          overflow: hidden;
          word-break: break-word;

          &.opened {
            max-height: 100px;
            height: auto;

            &.full {
              max-height: 100%;
              height: auto;
            }
          }
        }

        .view-more {
          font-size: 12px;
          text-decoration: underline;
        }

        .bimobject-classif {
          margin: 12px 0 12px 0;
          max-height: 56px;
          overflow: hidden;

          &.opened {
            height: auto;
            max-height: none;
          }

          .classif {
            display: inline-block;
            max-width: 75%;
            background: $light-grey;
            font-size: 12px;
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-radius: 2px;
            //border-bottom: 1px solid $grey;
            box-shadow: 0 2px 0 0 rgba($black, 0.03);
            margin: 0 8px 8px 0;
            padding: 4px 7px 3px 10px;
            color: $dark-grey;

            &.yellow {
              border-top: 2px solid $class-yellow;
            }

            &.blue {
              border-top: 2px solid $class-blue;
            }

            &.red {
              border-top: 2px solid $class-red;
            }

            &.green {
              border-top: 2px solid $class-green;
            }

            &.acid_blue {
              border-top: 2px solid $class-acid_blue;
            }

            &.dark_green {
              border-top: 2px solid $class-dark_green;
            }

            &.brown {
              border-top: 2px solid $class-brown;
            }

            &.purple {
              border-top: 2px solid $class-purple;
            }

            &.grey {
              border-top: 2px solid $class-grey;
            }

            &.acid_red {
              border-top: 2px solid $class-acid_red;
            }
          }
        }

        .bimobject-creation {
          color: $dark-grey;
          font-size: 12px;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 4px;
        }

        .add-tags {
          position: relative;

          .dropdown-menu-material-ui {
            div {
              line-height: initial;
            }
          }
        }

        .tags {
          max-height: 34px;
          overflow: hidden;

          .tag {
            margin: 8px 8px 0 0 !important;
          }

          &.opened {
            height: auto;
            max-height: none;
          }
        }
      }

      td.bimobject-actions {
        width: 64px;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;

        button.btn-action-card,
        .btn,
        .btn-edit {
          display: block;
          width: 100%;
          height: 46px;
          background: none;
          color: $grey;
          line-height: 46px;
          text-align: center;
          border: 0;
          margin: 0 auto;

          &:hover {
            color: $bc-90;
          }

          i.delete-from-librairy {
            display: inline-block;
            width: 21px;
            height: 46px;
            background: url(/Content/images/delete-from-librairy.svg) no-repeat center center;
            background-size: 100%;
            line-height: 46px;
          }

          i.added-to-librairy {
            display: inline-block;
            width: 21px;
            height: 30px;
            background: url(/Content/images/added-to-librairy.svg) no-repeat center center;
            background-size: 100%;
          }
        }
      }

      .btn-third.btn-edit {
        height: 26px;
        line-height: 24px;
        padding: 0 10px;
      }
    }
  }

  &.panel-object-selected {
    border: 2px solid $grey;

    button.myobject-status {
      background-position: left -60px;

      &:hover,
      &:focus {
        background-position: left -80px;
      }
    }
  }

  div[mode="indeterminate"] {
    background-color: $light-blue !important;
    border-radius: 0 !important;
  }

  &#panel-content-request,
  &#panel-object-error-404 {
    cursor: default;

    .panel-object-content {
      table {
        .bimobject-photo {
          vertical-align: middle;

          .image-container {
            img {
              max-width: none;
            }

            .icon-error {
              height: 180px;
              width: 180px;
            }
          }
        }

        .bimobject-info {
          border: 0;

          .btn-container {
            width: 100%;
            text-align: center;

            .btn-ask-content {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

.panel-object-std {
  .detail-pdt {
    width: 100%;
    background-color: $white;
    border-radius: 0 0 5px 5px;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    &.collapsing {
      -webkit-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.2, 0, 0.4, 0);
      -o-transition-timing-function: cubic-bezier(0.2, 0, 0.4, 0);
      transition-timing-function: cubic-bezier(0.2, 0, 0.4, 0);
    }

    .nav-tabs {
      border-bottom: 1px solid #dddddd;
    }

    .nav-tabs > li {
      float: left;
      margin-bottom: -1px;
      text-decoration: none;
    }

    .nav-tabs > li > a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
    }

    .nav-tabs > li > a:hover {
      border-color: #eeeeee #eeeeee #dddddd;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      color: #555555;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-bottom-color: transparent;
      cursor: default;
    }

    .nav-tabs-detail {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      border-top: 1px solid $soft-grey;
      border-bottom: none;
      margin-bottom: 25px;

      > li {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid $soft-grey;
        text-align: center;
        line-height: 32px;

        a {
          position: relative;
          top: 2px;
          background: none;
          line-height: 20px;
          cursor: pointer;
          border: 0;
          border-radius: 0;
          margin: 0;
          padding: 6px 7px;
          font-weight: 500;
          text-transform: none;
          color: $grey;

          .badge {
            display: inline-block;
            position: relative;
            top: -2px;
            min-width: 18px;
            background: $soft-grey;
            color: $white;
            font-size: 9px;
            font-weight: 500;
            text-align: center;
            line-height: 18px;
            border: 0;
            border-radius: $notif-radius;
            margin-right: 5px;
            padding: 0 6px;
          }
        }

        &.active {
          font-weight: 500;
          border-top: 3px solid $bc-90;
          border-left: 1px solid $soft-grey;
          border-right: 1px solid $soft-grey;
          border-bottom: 1px solid $soft-grey;

          a,
          a:hover,
          a:focus {
            position: relative;
            top: -1px;
            background: none;
            font-weight: 500;
            color: $dark-grey;
            border: 0;

            .badge {
              background: $bc-90;
            }
          }
        }

        &:first-of-type,
        &:first-of-type.active {
          border-left: 0;
        }

        &:last-of-type,
        &:last-of-type.active {
          border-right: 0;
        }
      }
    }

    .object-descriptif {
      .col-xs-12 > div {
        box-sizing: border-box;
        padding: 0 20px 10px 20px;

        .table {
          box-sizing: border-box;
        }
      }

      .btn-compare,
      .btn-print,
      .btn-download,
      .btn-view {
        display: inline-block;
        position: relative;
        top: 2px;
        width: 24px;
        color: $grey;
        background: none;
        margin-left: 14px;
        border: none;

        &:hover {
          color: $bc-90;
        }

        i.smart-download {
          display: inline-block;
          width: 24px;
          height: 24px;
          background: url(/Content/images/smart-download.svg) no-repeat center center;
          background-size: 100%;

          &:hover {
            background-image: url(/Content/images/smart-download-hover.svg);
          }
        }
      }

      .stepwizard-step {
        width: 30%;
      }

      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }

    #variants {
      position: relative;
      padding: 0 20px 5px 20px;
      display: flex;

      .dropdown-toggle {
        position: relative;
        min-width: 50%;
        height: 40px;
        background: $white;
        color: $black !important;
        font-size: 16px;
        font-weight: 400;
        line-height: 45px;
        text-align: left;
        border: none;
        border-bottom: 1px solid $grey !important;
        margin-bottom: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 15px;
        cursor: pointer;

        input[type="text"] {
          padding: 0 !important;
        }

        hr:last-of-type {
          position: absolute;
          bottom: -1px;
          width: 100%;
          border: 0;
          border-bottom: 2px solid $bc-90 !important;
          box-sizing: content-box;
          transform: scaleX(0) !important;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          margin: 0;
        }

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 18px;
          right: 0;
          width: 12px;
          min-width: 12px;
          height: 12px;
          background: url(images/icon-arrow-down.svg) no-repeat center center;
          background-size: contain;
          color: $black;
        }
      }

      &.open {
        .dropdown-toggle {
          border-bottom: 1px solid $acid-blue !important;

          hr:last-of-type {
            transform: scaleX(1) !important;
          }

          &::after {
            background-image: url(images/icon-arrow-up.svg);
          }
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 48px;
        left: 7px;
        width: 50%;
        max-height: 300px;
        overflow: auto;
        min-width: 50%;
        border-radius: 0;
        box-shadow: none;
        animation: slideDown 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

        @-webkit-keyframes slideDown {
          0% {
            transform: scaleY(0);
            opacity: 0;
          }

          100% {
            transform: scaleY(1);
            opacity: 1;
          }
        }

        @-moz-keyframes slideDown {
          0% {
            transform: scaleY(0);
            opacity: 0;
          }

          100% {
            transform: scaleY(1);
            opacity: 1;
          }
        }

        @keyframes slideDown {
          0% {
            transform: scaleY(0);
            opacity: 0;
          }

          100% {
            transform: scaleY(1);
            opacity: 1;
          }
        }

        transform-origin: left top 0;

        ul {
          max-height: 300px;
          background: $white;
          overflow-y: auto;
          margin: 0;

          li {
            font-weight: 500;
            border-bottom: 1px solid $soft-grey;
            cursor: pointer;
            padding: 0 12px;

            &:last-of-type {
              border-bottom: 0;
            }

            &:hover {
              background-color: lighten($light-grey, 1%);
            }

            label {
              display: inline-block;
              width: 100%;
              line-height: initial;
              cursor: pointer;
              margin: 0;
              padding: 8px 0 10px 0;

              span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;

                &.round-check,
                &.round-check-off {
                  width: 22px;
                  height: 22px;
                }

                &.round-check {
                  background: url(/Content/images/round-check.svg) no-repeat center center;
                }

                &.round-check-off {
                  background: url(/Content/images/round-check-off.svg) no-repeat center center;
                }
              }
            }
          }
        }

        div[role="presentation"] {
          width: 100% !important;

          div[role="menu"] {
            display: block !important;
            width: 100% !important;
          }

          span {
            padding: 0 !important;
          }
        }
      }
    }

    ul#variants-details {
      border-top: 1px solid $soft-grey;
      margin: 0;

      &.content-card {
        padding: 0 0 5px 0;
      }

      > li {
        background: $white;
        border-left: 3px solid transparent;
        padding: 10px;

        a {
          font-weight: 500;

          &::before {
            content: "";
            display: inline-block;
            position: relative;
            top: 1px;
            width: 12px;
            min-width: 12px;
            height: 12px;
            background: url(images/icon-arrow-down.svg) no-repeat center center;
            background-size: contain;
            margin-right: 5px;
          }
        }

        ul {
          display: none;
          padding: 10px 0 0 40px;

          > li {
            display: flex;
            padding-bottom: 10px;

            label {
              flex: 1;
              display: inline-block;
              color: $dark-grey;
              min-width: 200px;
              margin-right: 20px;
            }

            > p {
              flex: 1;
              color: $dark-grey;
              font-weight: 500;
              word-break: break-word;
            }
          }
        }

        &:nth-of-type(even) {
          background: $light-grey;
        }

        &.open {
          a::before {
            background: url(images/icon-arrow-up.svg) no-repeat center center;
          }

          ul {
            display: block;
          }

          &:nth-of-type(4n + 1) {
            border-color: $class-yellow;
          }

          &:nth-of-type(4n + 2) {
            border-color: $class-blue;
          }

          &:nth-of-type(4n + 3) {
            border-color: $class-red;
          }

          &:nth-of-type(4n + 4) {
            border-color: $class-green;
          }
        }
      }
    }

    .content-card {
      padding: 0 20px 40px 20px;

      .block-split-button-download {
        display: inline-block;
        margin: 10px 0 10px 10px;

        .button-group-download-choice {
          button {
            margin: 0;
            background: white;
            color: $grey;
          }

          .btn-full-download {
            &:hover {
              color: $acid-blue;
            }
          }

          .btn-arrow-download {
            &:hover {
              background: $light-grey;
            }
          }
        }
      }
    }

    table.table-stripped {
      table-layout: fixed;
      box-shadow: none;
      margin-bottom: 30px;

      tr:hover td::before,
      tr:hover td::after {
        opacity: 0;
      }

      th,
      td {
        position: initial;
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid $soft-grey;
        box-sizing: border-box;
        padding: 5px 10px;

        &:nth-of-type(1) {
          width: 20%;
        }

        &:nth-of-type(2) {
          width: 15%;
        }

        &:nth-of-type(3) {
          width: 15%;
        }

        &:nth-of-type(4) {
          width: 20%;
        }

        &:nth-of-type(5) {
          width: 30%;
          text-align: right;
        }
      }

      th {
        color: $grey;
        background-color: $white !important;
        text-transform: initial;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      td {
        color: $dark-grey;

        .icons-svg {
          position: relative;
          top: -1px;
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin-right: 3px;
        }
      }

      &.table-documents {
        th,
        td {
          &:nth-of-type(1) {
            width: 40%;
          }

          &:nth-of-type(2) {
            width: 20%;
          }

          &:nth-of-type(3) {
            width: 20%;
          }

          &:nth-of-type(4) {
            width: 20%;
            text-align: right;
          }
        }
      }

      &.table-documents-ext {
        th,
        td {
          &:nth-of-type(1) {
            width: 40%;
          }

          &:nth-of-type(2) {
            width: 20%;
          }

          &:nth-of-type(3) {
            width: 40%;
          }
        }
      }
    }

    .no-model {
      font-size: 13px;
      font-weight: 500;
      text-align: center;

      a {
        display: block;
        margin: 10px auto 0 auto;
        width: fit-content;
      }
    }

    #qrcode-container {
      .row {
        margin: 0;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .link-qrcode {
        color: $acid-blue;
      }

      #qrcode-cm {
        border-top: 1px solid $soft-grey;
        margin-top: 30px;
        padding-top: 50px;
      }
    }
  }

  .content-card {
    cursor: default !important;

    .btn-download,
    .variantItemTitleList,
    .tablePropertiesDetails {
      cursor: pointer !important;
    }
  }

  .linear-progress {
    margin-top: -4px;
    height: 3px;
  }

  .panel-detail-object {
    box-sizing: border-box;
    padding: 20px;

    h1 {
      float: left;
      width: 90%;
      margin: 0 0 20px 0;
    }

    .pull-right {
      float: right;
      width: 10%;
      text-align: right;
      margin-top: 10px;

      .btn-edit {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/Content/images/sprite/modifier.png) no-repeat;
        background-position: left top;
        margin: 1px 0 0 6px;

        &:hover,
        &:focus {
          background-position: left -20px;
        }
      }
    }

    .object-descriptif {
      margin-top: 30px;

      #tabs-variants.tabs li {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;

        a {
          display: block;
          padding: 2px 12px;
          margin: 0 3px 0 0;
          background-color: $soft-grey;
          border-radius: $small-radius $small-radius 0 0;

          &:hover {
            cursor: pointer;
            color: $acid-blue;
          }

          &.active {
            color: $white;
            background-color: $acid-blue;

            &:hover {
              color: $white;
            }
          }
        }

        &:last-child a {
          margin-right: 0;
        }
      }
    }
  }

  #table-variants-details {
    table-layout: auto;
    box-shadow: none;
    margin-top: 0;

    tr td::before,
    tr td::after {
      background: 0;
    }
  }

  .scrtabs-tab-scroll-arrow {
    padding-top: 9px !important;
    border: 0 !important;
  }

  .tooltip {
    font-size: 14px;
    opacity: 1 !important;
  }
  /*.tooltip-inner {
        background-color: $soft-grey;
        color: $dark-grey;
    }*/
  .tooltip-inner {
    //background: linear-gradient(-224deg, #4c98f3 0%, #06baec 100%);
    background: $white;
    color: $dark-grey;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: $soft-grey;
  }
  /* Edition objet */
  .stepwizard-row {
    position: relative;
    display: block;
    text-align: center;
    margin: 20px 0;

    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 10px;
      border-top: 2px dotted $soft-grey;
    }

    .stepwizard-step {
      display: inline-block;
      position: relative;
      width: 12%;
      text-align: center;
      vertical-align: top;
      cursor: pointer;

      .btn-circle.btn-lg {
        width: 40px;
        height: 40px;
        background-color: $white;
        font-size: 22px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: $big-radius;
        margin: 0 0 10px 0;
        padding: 0;

        &.current {
          background-color: $acid-blue;
          color: $white;
        }
      }

      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
      }
    }

    .object-viewer-icon {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: $body-grey;
      border: 2px dotted $soft-grey;
      border-radius: 30px;
    }
  }

  .panel-object-type {
    .warning-message {
      width: 90%;
      margin: 25px auto !important;
    }

    .btn-picto-save {
      margin-bottom: 20px;
    }
  }

  .search-tags {
    input {
      width: 100%;
      box-sizing: border-box;
      margin: 0 0 5px 0 !important;
    }

    .searched-pins {
      height: 150px;

      .legende {
        font-size: 15px !important;
        font-style: normal !important;
        margin-bottom: 0;
      }

      a.create-missing-tag {
        display: inline-block;
      }

      .pin-item-search-result {
        &:hover {
          background: none;
          color: $acid-blue;
        }
      }
    }
  }

  @media (max-width: 992px) {
    #steps-wizard {
      .step-content .stepwizard-row .stepwizard-step {
        .btn-default + p {
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  @media (max-width: 768px) {
    #steps-wizard {
      .step-content .stepwizard-row .stepwizard-step {
        width: 10%;

        .btn-default + p {
          display: none;
        }
      }
    }
  }

  .overlay-container {
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: none;
      border-radius: 8px;
      z-index: 999;
    }

    *:not(.overlay) {
      -webkit-filter: blur(3px) grayscale(1);
      filter: blur(3px) grayscale(1);
    }
  }

  .dropzone-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    text-align: center;
    border: 2px dashed #bdc4c8;
    box-sizing: border-box;
    cursor: pointer;
    //margin: 8px 0 20px 0;
    padding: 15px;

    h4 {
      width: 100%;
    }

    .legende {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  #bimobject-properties-smart-container {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 2px;

    #bimobject-properties-smart {
      margin: 0;
    }
  }

  #bimobject-properties-smart {
    margin-bottom: 10px;

    #filterbimobject-properties-smart {
      background: $dark-grey !important;
      color: $white;

      > div:nth-of-type(1) {
        top: 6px !important;
        margin-top: 0 !important;
      }

      input[type="text"] {
        height: 20px !important;
        background-color: $white;
        border: 0;
        margin-top: 1px;
      }
    }

    #contentbimobject-properties-smart {
      .jqx-grid-column-header {
        border-color: $soft-grey !important;
      }

      .jqx-grid-cell,
      .jqx-grid-group-cell {
        border-color: $soft-grey !important;
      }

      .jqx-custom-header {
        padding: 6px 8px;
      }
    }

    &::after {
      content: "";
      display: block;
    }
  }

  #bimobject-variants-smart {
    #contentbimobject-variants-smart {
      .jqx-custom-header {
        padding: 6px 8px;
      }
    }
  }

  .thumbnail {
    display: inline-block;
    width: 150px;
    border: 0;
    margin: 10px;
    padding: 0;

    img {
      border: 1px solid $soft-grey;
      margin-bottom: 5px;
    }
  }

  .tr-variant {
    cursor: pointer;
  }

  .tr-selected td {
    background-color: $acid-blue !important;
  }

  .bimobject-photos {
    .thumbnail {
      display: inline-grid;

      &.default-true {
        img {
          border: 2px solid $acid-blue;
        }
      }

      .delete-bimobject-photo {
        margin-top: 5px;
      }
    }
  }

  .default-bimobject-photo {
    margin-top: 5px;
  }

  .delete-btn {
    display: inline-block;
    color: $danger-zone-red;
    cursor: pointer;
    margin-left: 7px;
  }

  .edit-btn {
    display: inline-block;
    color: $acid-green;
    cursor: pointer;
    margin-left: 7px;
  }

  .preview-btn {
    display: inline-block;
    color: $acid-blue;
    cursor: pointer;
    margin-left: 7px;
  }

  .results {
    margin: 10px 10px 0 0;

    li.classification-name {
      margin-bottom: 10px;
    }

    li.classificationNode {
      display: -webkit-inline-box !important;
      display: -webkit-inline-flex !important;
      display: inline-flex !important;
      background: $light-grey;
      font-size: 12px;
      font-weight: 500;
      border-radius: 2px;
      //border-bottom: 1px solid $grey;
      box-shadow: 0 2px 0 0 rgba($black, 0.03);
      margin: 0 0 8px 0;
      padding: 4px 7px 3px 10px;
      color: $dark-grey;

      &.yellow {
        border-top: 2px solid $class-yellow;
      }

      &.blue {
        border-top: 2px solid $class-blue;
      }

      &.red {
        border-top: 2px solid $class-red;
      }

      &.green {
        border-top: 2px solid $class-green;
      }

      &.dark_green {
        border-top: 2px solid $class-dark_green;
      }

      &.brown {
        border-top: 2px solid $class-brown;
      }

      &.purple {
        border-top: 2px solid $class-purple;
      }

      &.grey {
        border-top: 2px solid $class-grey;
      }

      &.acid_red {
        border-top: 2px solid $class-acid_red;
      }

      &.acid_blue {
        border-top: 2px solid $class-acid_blue;
      }

      .delete-bimobject-classificationNode {
        display: inline-block;

        svg {
          position: relative;
          top: -1px;
          width: 16px;
          height: 16px;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
  }

  .panel-smart-download {
    background-color: $white !important;

    .panel-heading {
      padding-bottom: 0;

      button {
        display: inline-block;
        vertical-align: middle;
        line-height: initial;
        margin-right: 10px;
      }

      h4 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
      }
    }

    .panel-body {
      padding-top: 0;

      .download-wizard {
        position: relative;
        width: 100%;
        box-sizing: border-box;

        &.download-disabled > *:not(.overlay) {
          -webkit-filter: blur(2px) grayscale(1);
          filter: blur(4px) grayscale(1);
        }
      }

      .overlay {
        .disabled-text {
          line-height: 34px;
          text-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
        }

        text-align: center;
      }

      #dvSmartDownload {
        #smart-download-content {
          overflow: hidden;
          max-width: 100%;
          position: relative;
          min-height: 224px;

          #step-container {
            width: 300%;
            height: 100%;
            position: absolute;
            left: 0;
            transition: 1s;

            .step {
              float: left;
              width: 33.33%;
            }
          }

          #step-one-container {
            .properties-groups-list {
              margin-bottom: 10px;
            }
          }

          #step-two-container {
            height: 100%;

            #download-content-message {
              .count-blue {
                color: $acid-blue;
                font-weight: 500;
              }
            }

            #bimobject-variants-smart {
              height: 100%;
              position: relative;

              #variants-table-header-container {
                display: flex;

                #block-variants-table-header-checkbox {
                  width: 48px;
                }

                #block-variants-table-header {
                  overflow: hidden;
                  display: flex;
                  width: calc(100% - 48px);

                  th {
                    padding: 4px 56px 4px 24px;
                  }
                }

                table {
                  table-layout: fixed;

                  thead {
                    tr {
                      height: 56px;
                    }
                  }
                }
              }

              #variants-table-body-container {
                display: flex;

                #block-variants-table-body-checkbox {
                  height: 100%;
                  width: 48px;
                  overflow-y: hidden;
                  overflow-x: scroll;

                  tr {
                    height: 48px;
                  }
                }

                #block-variants-table-body {
                  height: 100%;
                  width: calc(100% - 48px);
                  overflow-y: auto;
                  overflow-x: scroll;

                  table {
                    tbody {
                      tr {
                        height: 48px;

                        td {
                          padding: 4px 56px 4px 24px;

                          .property-container {
                            width: 15em;
                            overflow: hidden;
                            position: relative;
                            line-height: 1.2em;
                            max-height: 2.4em; //1.2 (line-height) * 2 (line)
                            margin-right: -2em;
                            padding-right: 2em;
                            word-break: break-word;

                            .ellipsis {
                              content: "...";
                              position: absolute;
                              right: 0;
                              bottom: 0;
                              font-size: initial;
                              width: 1em;
                              height: 1em;
                              background: $white;
                            }

                            &:after {
                              content: "";
                              position: absolute;
                              right: 0;
                              width: 2em;
                              height: 2em;
                            }

                            &:not(.selected) {
                              .ellipsis {
                                background: $white;
                              }

                              &:after {
                                background: $white;
                              }
                            }

                            &.selected {
                              .ellipsis {
                                background: #e7faff;
                              }

                              &:after {
                                background: #e7faff;
                              }
                            }
                          }
                          //Désignation
                          &.table-cell-body-Official_423 {
                            .property-designation-container {
                              width: 25em;

                              .ellipsis {
                                font-size: 2em;
                                font-weight: 500;
                                padding-top: 0.21em;

                                &:hover {
                                  color: $acid-blue;
                                }
                              }
                            }
                          }
                        }

                        &:hover,
                        &.is-hover {
                          .property-container {
                            &:not(.selected) {
                              .ellipsis {
                                background: #ededed;
                              }

                              &:after {
                                background: #ededed;
                              }
                            }

                            &.selected {
                              .ellipsis {
                                background: #e7faff;
                              }

                              &:after {
                                background: #e7faff;
                              }
                            }
                          }

                          .table-cell-body-Official_423 {
                            .property-designation-container {
                              .ellipsis {
                                font-weight: 600;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }

                #block-variants-table-body-checkbox,
                #block-variants-table-body {
                  table tr.is-hover {
                    background: #ededed;
                  }
                }
              }
            }
          }
        }
      }
    }

    .stepwizard-row .stepwizard-step .btn-circle.btn-lg {
      background-color: $light-grey;
    }

    #properties-group-sdl {
      margin-bottom: 10px;

      .btn-raised {
        span {
          padding-left: 5px;
        }
      }

      .properties-group-sdl-item {
        display: inline-block;
        margin-right: 5px;
        margin-top: 5px;
      }
    }
  }
}