@import 'variables.scss';

body.old-styles {
  #AddPropertyScreen {
    .modal-dialog {
      width: 80% !important;
      max-height: 80% !important;

      .modal-content {
        .modal-body {
          #search-filter-properties {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            > * {
              width: 25% !important;
            }

            .search-container {
              display: flex;
              align-items: flex-end;

              svg {
                margin: 0 10px 5px 0;
              }

              > div {
                flex: 1;
              }
            }

            #search-properties-group-filter {
              margin: 0;
            }
          }

          .bim-properties {
            max-height: 600px;
            overflow-y: auto;
            border: 1px solid $soft-grey;
            border-radius: $small-radius;

            .expansion-panel-detail {
              .column-property-code {
                margin: 0 5px;
              }
            }

            > div {
              box-shadow: none !important;
              overflow-x: hidden !important;
              margin: 0 !important;

              &::before {
                top: 0 !important;
                opacity: 1 !important;
              }
            }
          }
        }

        .modal-footer {
          #add-new-property {
            float: left;
            margin: 0;
          }
        }
      }
    }

    .domain-name {
      font-weight: bold;
    }
  }

  #AddRootNodeScreen,
  #create-classification-modal {
    &.fade.in {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: flex !important;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .modal-content {
      padding: 20px;

      .modal-header {
        min-height: initial;
        padding: 0;

        .modal-title {
          font-size: 18px;
        }
      }

      .modal-body {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: flex !important;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        padding: 0;

        > div {
          &:nth-of-type(odd) {
            width: 54% !important;
          }

          &:nth-of-type(even) {
            width: 42% !important;
          }
        }

        .btn-color {
          width: 42%;
          min-height: initial;
          text-transform: initial;
          border-bottom: 1px solid $grey;
          border-radius: 0;
          margin-bottom: 8px;
          padding: 0 0 2px 0;

          span {
            -webkit-justify-content: space-between;
            justify-content: space-between;
            color: $grey;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;

            .color-chip {
              display: inline-block;
              width: 22px;
              height: 22px;
              background: $acid-blue;
              border-radius: 50%;
              margin-right: 8px;
            }

            .color-text {
              flex: 1;
              text-align: left;
            }
          }

          &:hover, &:focus {
            background: none;
          }
        }
      }

      .modal-footer {
        text-align: right;
        padding: 20px 0 0 0;
      }
    }
  }

  .classif-formcontrol {
    flex: 1;

    .manage-color-chip,
    .manage-classif-lang {
      position: relative;
      top: 1px;
    }
  }

  .modal-add-root, .modal-add-classif {
    top: 25% !important;
    //left: 100% !important;
  }

  .classif-color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;

    &.yellow {
      background: $class-yellow;
    }

    &.blue {
      background: $class-blue;
    }

    &.red {
      background: $class-red;
    }

    &.green {
      background: $class-green;
    }

    &.acid_blue {
      background: $class-acid_blue;
    }

    &.dark_green {
      background: $class-dark_green;
    }

    &.brown {
      background: $class-brown;
    }

    &.purple {
      background: $class-purple;
    }

    &.grey {
      background: $class-grey;
    }

    &.acid_red {
      background: $class-acid_red;
    }
  }

  .add-classif-inline {
    position: relative;
    font-size: 21px !important;
    cursor: pointer;
    margin-left: 6px;

    &.yellow {
      color: $class-yellow;
    }

    &.blue {
      color: $class-blue;
    }

    &.red {
      color: $class-red;
    }

    &.green {
      color: $class-green;
    }

    &.acid_blue {
      color: $class-acid_blue;
    }

    &.dark_green {
      color: $class-dark_green;
    }

    &.brown {
      color: $class-brown;
    }

    &.purple {
      color: $class-purple;
    }

    &.grey {
      color: $class-grey;
    }

    &.acid_red {
      color: $class-acid_red;
    }

    &:hover {
      opacity: .7;
    }
  }

  .manage-color-chip {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px !important;

    &.yellow {
      background: $class-yellow;
    }

    &.blue {
      background: $class-blue;
    }

    &.red {
      background: $class-red;
    }

    &.green {
      background: $class-green;
    }

    &.acid_blue {
      background: $class-acid_blue;
    }

    &.dark_green {
      background: $class-dark_green;
    }

    &.brown {
      background: $class-brown;
    }

    &.purple {
      background: $class-purple;
    }

    &.grey {
      background: $class-grey;
    }

    &.acid_red {
      background: $class-acid_red;
    }
  }

  .manage-classif-lang {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 14px;
    height: 14px;
    background: url(/Content/images/sprite/flags.svg) no-repeat center top;
    margin-right: 10px !important;

    &.lang-fr {
      background-position-y: 0;
    }

    &.lang-en {
      background-position-y: -14px;
    }

    &.lang-es {
      background-position-y: -28px;
    }

    &.lang-de {
      background-position-y: -42px;
    }

    &.lang-it {
      background-position-y: -56px;
    }

    &.lang-nl {
      background-position-y: -70px;
    }

    &.lang-pt {
      background-position-y: -84px;
    }
  }

  .manage-item {
    display: inline-block;
    padding: 0 !important;
  }
}