body.old-styles {
  @mixin placeholder {
    &::-webkit-input-placeholder {
      @content;
    }

    &:-moz-placeholder {
      @content;
    }

    &::-moz-placeholder {
      @content;
    }

    &:-ms-input-placeholder {
      @content;
    }
  }

  @import 'variables.scss';

  $black: #212121;
  $dark: #676767;
  $grey: #a4a4a4;
  $light: #e2e4e5;
  $bg: #fafafa;
  $white: #fff;

  $blue: #06baec;
  $light-blue: lighten($blue, 22%);
  $acid-green: #d1d929;
  //$btn-blue: #4a99f3;
  //$btn-light-blue: #0ab8ec;
  $wrapper: 1000px;

  .main-menu-message {
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  $dark: #4a5d6a;

  #onfly-no-messages {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    width: 100%;
    height: 100%;

    img {
      margin: 0 0 80px 0;
    }

    p {
      width: 100%;
      text-align: center;

      &:nth-of-type(1) {
        color: $dark;
        font-size: 26px;
      }

      &:nth-of-type(2) {
        font-size: 18px;
      }
    }

    .btn-go-leads {
      margin-top: 20px;
    }

    .btn-new-message {
      display: inline-block;
      background-color: $button-primary;
      color: $white;
      font-size: 14px;
      line-height: 32px;
      font-weight: 500;
      text-transform: uppercase;
      vertical-align: middle;
      transition: all .3s ease;
      border-radius: 4px;
      margin: 20px 10px 0 10px;
      padding: 0 16px;

      &:hover {
        background: $button-primary-hover;
        cursor: pointer;
      }
    }
  }

  .messages-container {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -12px;

    *, *::before, *::after {
      box-sizing: border-box;
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .messages-container {
      height: 100%;
      margin: -16px -15px -15px -15px;
    }

    .left {
      float: left;
      width: 100%;
      height: calc(100vh - 58px);
      border: 1px solid $light;
      border-top: none;
      background-color: $bg;
      overflow-x: hidden;
      overflow-y: auto !important;
      min-height: 600px;
      opacity: 0;

      &.with-messages {
        width: 20%;
      }

      .status-message {
        font-style: italic;
        margin: 20px;
      }

      .people {
        //margin-left: -1px;
        //border-right: 1px solid $light;
        //border-left: 1px solid $light;
        //width: calc(100% + 2px);
        width: 100%;
        //height: calc(100vh - 59px);
        height: 100%;
        min-height: 600px;
        overflow-y: auto;

        .person {
          position: relative;
          width: 100%;
          border-bottom: 1px solid $light;
          padding: 12px 16px 10px 16px;
          cursor: pointer;
          background-color: $bg;

          img {
            float: left;
            width: 40px;
            height: 40px;
            margin-right: 12px;
            border-radius: 50%;
          }

          .sender {
            font-size: 14px;
            line-height: 22px;
            color: $black;
            font-weight: 500;
            display: inherit;
            margin-left: 52px;
          }

          .sender-entity {
            display: block;
            margin-left: 52px;
            font-size: 14px;
          }

          .subject {
            font-size: 14px;
            display: block;
            overflow: hidden !important;
            width: 70%;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #999;
            margin-left: 52px;
          }

          .newMessage {
            position: absolute;
            top: calc(50% - 11px);
            right: 16px;
            width: 23px;
            background-color: $acid-green;
            border-radius: 50%;
            color: #fff;
            font-size: 10px;
            font-weight: 700;
            text-align: center;
            line-height: 23px;
            border-radius: 50%;
          }

          &.active, &:hover {
            background-color: $white;

            span {
              //color: $white;
              //background: transparent;
            }
          }
        }
      }
    }

    .middle {
      position: relative;
      float: left;
      width: 60%;
      //height: calc(100vh - 59px);
      height: 100%;
      min-height: 600px;
      background-color: $bg;

      .new-message-search {
        position: relative;
        background-color: $white;
        padding-top: 15px;

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        label {
          left: 10px;
        }

        input {
          padding: 7px 10px !important;
        }

        .react-autosuggest__input {
        }

        .react-autosuggest__suggestions-container {
        }

        .suggestion-container-user {
          position: absolute;
          top: 58px;
          left: 0;
          width: 310px;
          max-height: 300px;
          text-align: left;
          overflow-y: auto;
          margin-left: 20px;
          z-index: 3;

          .suggestion-list {
            .suggestion-item {
              .userprofile.small {
                background-color: $white;
                border-bottom: 1px solid $light;
                padding: 5px 5px 5px 5px;

                .userpic {
                  img {
                    border-radius: 50%;
                  }
                }

                .username {
                  font-size: 14px;
                  width: 240px;
                  text-align: left;
                  vertical-align: middle;
                  line-height: 40px;
                  font-weight: 500;
                  margin-left: 10px;
                }

                &:hover {
                  cursor: pointer;
                  background-color: $bg;
                }
              }

              &:last-of-type .userprofile.small {
                border-bottom: 0;
              }
            }
          }
        }
      }

      .message-detail {
        background: $white;
      }

      .top {
        width: 100%;
        min-height: 100px;
        padding: 15px 15px 0 15px;
        border-bottom: 1px solid $light;
        //background-color: #eceff1;

        .name {
          color: $dark;
          font-size: 25px;
          font-weight: 500;
          height: 38px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          //@include font-bold;
        }

        #talkWith {
          display: inline-block;
          width: 100%;
          margin-top: 5px;

          #talk-with-title {
            cursor: pointer;
            display: inline-block;
            margin-bottom: 15px;

            .number-talk-user {
              margin-left: 5px;
              color: $black;
              font-weight: 500;
              font-size: 17px;
            }

            i {
              color: $black;
              margin-left: 3px;
              font-size: 23px;
              vertical-align: text-bottom;

              &.arrow-roll {
                -moz-transition: transform 0.35s;
                -webkit-transition: transform 0.35s;
                transition: transform 0.35s;

                &.rotate {
                  transform: rotate(90deg);
                }
              }
            }

            &:hover {
              color: $black;
            }
          }

          #all-users-talk-list {
            display: none;
            z-index: 10;
            background: $white;
            position: absolute;
            width: 100%;
            border-bottom: 1px solid $light;
            left: 0px;
            padding: 0px 15px 15px;
          }

          .talk-users-title {
            line-height: 21px;
            font-size: 16px;

            span {
              vertical-align: middle;
            }

            img.user-avatar {
              border-radius: 50%;
              vertical-align: middle;
              height: 32px;
              width: 32px;
              margin-right: 5px;
            }
          }

          .talk-users-list {
            display: inline-block;
            margin: 5px 0 5px 0;

            &.company, &.manufacturer {
              margin-left: 35px;
            }

            div {
              color: $black;
              background-color: $soft-grey;

              &:hover {
                background-color: $acid-blue;
                color: $white;
              }
            }
          }
        }
      }

      #chat-write-container {
        .chat {
          position: relative;
          padding: 15px 15px 0;
          justify-content: flex-end;
          flex-direction: column;
          background-color: $white;
          overflow-x: hidden;
          overflow-y: scroll;

          .bubble-line {
            margin-bottom: 10px;

            &::after {
              content: '';
              display: block;
              clear: both;
            }

            img.user-avatar {
              border-radius: 50%;
              width: 50px;
              height: 50px;

              &.me, &.me-user {
                float: right;
                margin-left: 15px;
              }

              &.you {
                float: left;
                margin-right: 15px;
              }

              &.me, &.you {
                cursor: pointer;

                &:hover + .bubble .user-name {
                  color: $acid-blue;
                }
              }
            }

            .bubble {
              display: inline-block;
              max-width: 75%;
              min-height: 80px;

              .user-name {
                margin-bottom: 5px;
                font-weight: 500;
                color: $black;
                cursor: pointer;

                &:hover {
                  color: $acid-blue;
                }
              }

              .bubble-content {
                position: relative;
                display: inline-block;
                font-size: 16px;
                border-radius: 16px;
                margin-bottom: 5px;
                padding: 13px 20px;
                word-break: break-word;
                /*&::before {
                                    position: absolute;
                                    top: 19px;
                                    display: block;
                                    width: 8px;
                                    height: 6px;
                                    content: '\00a0';
                                    transform: rotate(29deg) skew(-35deg);
                                }*/

                .link {
                  text-decoration: underline;
                }
              }
              /*.bubble-date {
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: flex;
                                -webkit-align-items: center;
                                align-items: center;
                                color: $grey;
                                font-size: 11px;
                                font-weight: 500;
                                margin: 0 8px;

                                i {
                                    top: 0;
                                    font-size: 14px;
                                    margin-right: 4px;
                                }

                                &.active {
                                    color: #22c985;
                                }
                            }*/

              &.me {
                float: right;
                text-align: right;

                .bubble-content {
                  color: $dark;
                  background-color: $light;

                  .link {
                    color: $dark;

                    &:hover {
                      color: $acid-blue;
                    }
                  }

                  &::before {
                    right: -3px;
                    background-color: $light;
                  }
                }

                .bubble-date {
                  text-align: right;
                  float: right;
                }

                ul.reader-users-list {
                  float: right;

                  li {
                    margin-left: 10px;
                  }
                }
              }

              &.you {
                float: left;
                text-align: left;

                .bubble-content {
                  color: $dark;
                  background-color: $light;

                  .link {
                    color: $dark;

                    &:hover {
                      color: $acid-blue;
                    }
                  }
                  /*&::before {
                                        left: -3px;
                                        background-color: $light;
                                    }*/
                }

                .bubble-date {
                  text-align: left;
                  float: left;

                  i {
                    display: none;
                  }
                }

                ul.reader-users-list {
                  float: left;

                  li {
                    margin-right: 10px;
                  }
                }
              }

              &.me-user {
                float: right;
                text-align: right;

                .bubble-content {
                  color: $white;
                  background: linear-gradient(to right, $btn-light-blue, $btn-blue);

                  .user-name {
                    display: none;
                  }

                  .link {
                    color: $white;

                    &:hover {
                      color: $dark;
                    }
                  }
                  /*&::before {
                                        right: -3px;
                                        background-color: $btn-blue;
                                    }  */
                }

                .bubble-date {
                  text-align: right;
                  float: right;
                }

                ul.reader-users-list {
                  float: right;

                  li {
                    margin-left: 10px;
                  }
                }
              }

              .bubble-date {
                color: $dark-grey;
                font-size: 11px;
                font-weight: 400;
                margin: 0 10px;
                line-height: 22px;

                &.me {
                  float: right;
                  width: 100%;
                  text-align: right;
                }

                &.you {
                  float: left;
                  width: 100%;
                }
              }

              ul.reader-users-list {
                li {
                  float: left;
                  line-height: 21px;

                  img.user-avatar {
                    border-radius: 50%;
                    vertical-align: middle;
                    height: 20px;
                    width: 20px;
                  }
                }
              }
            }
          }
        }

        .write {
          border-top: 1px solid $light;
          border-bottom: 1px solid $light;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          max-height: 240px;
          height: 45px;
          min-height: 45px;

          #write-textarea-container {
            width: 100%;
            padding: 10px;
            display: inline-block;

            textarea {
              height: 100%;
              min-height: 24px;
              max-height: 240px;
              width: 100%;
              margin: 0;
              padding: 0;
              background: $white;
              resize: none;
              font-size: 16px;
              vertical-align: middle;
              overflow: hidden;
              line-height: 24px;
            }
          }
          /*textarea {
                        font-size: 16px;
                        width: 90%;
                        min-height: 24px;
                        height: 24px;
                        max-height: 240px;
                        padding: 0;
                        margin: 0 10px 0 0;
                        color: $dark;
                        border: 0;
                        outline: none;
                        background-color: $white;
                        border-radius: 0px;
                        resize: none;
                        margin-top: 3px;
                        margin-bottom: 3px;
                        vertical-align: middle;
                        overflow: hidden;
                        line-height: 24px;
                    }*/

          .write-link {
            display: inline-block;
            height: 100%;

            &.attach {
              &:before {
                display: inline-block;
                float: left;
                width: 20px;
                height: 42px;
                content: '';
                //background-image: url('https://s1.postimg.org/s5gfy283f/attachemnt.png');
                background-repeat: no-repeat;
                background-position: center;
              }
            }

            &.smiley {
              &:before {
                display: inline-block;
                float: left;
                width: 20px;
                height: 42px;
                content: '';
                //background-image: url('https://s14.postimg.org/q2ug83h7h/smiley.png');
                background-repeat: no-repeat;
                background-position: center;
              }
            }

            &.send {
              color: $white;
              background-color: $button-primary !important;
              width: 44px;
              height: 100%;
              cursor: pointer;
              float: right;

              &:hover {
                background-color: $button-primary-hover !important;
              }

              i {
                vertical-align: middle;
              }
              /*&:before {
                                display: inline-block;
                                position: absolute;
                                padding-top: 12px;
                                width: 20px;
                                height: 42px;
                                margin-left: 11px;
                                right: 5px;
                                content: '';
                                background-image: url('https://s30.postimg.org/nz9dho0pp/send.png');
                                background-repeat: no-repeat;
                                background-position: center;
                                cursor: pointer;
                            }*/
            }
          }
        }
      }

      .conversation-start {
        position: relative;
        width: 100%;
        margin-bottom: 27px;
        text-align: center;

        span {
          font-size: 14px;
          display: inline-block;
          color: $grey;

          &:before, &:after {
            position: absolute;
            top: 10px;
            display: inline-block;
            width: 30%;
            height: 1px;
            content: '';
            background-color: $light;
          }

          &:before {
            left: 0;
          }

          &:after {
            right: 0;
          }
        }
      }
    }

    .right {
      position: relative;
      float: left;
      width: 20%;
      height: 100%;
      background-color: $bg;
      min-height: 600px;
      border: 1px solid $light;
      border-top: none;

      img {
        display: inherit;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      .sender {
        display: inherit;
        text-align: center;
        font-weight: 500;
      }

      .about {
        display: inherit;
        text-align: center;
        padding: 10px;
      }

      .field, .fields {
        padding: 10px 20px 0 20px;

        .label {
          color: #bdc4c8;
          font-size: 12px;
          font-weight: 400;
          padding: 0;
        }

        .center {
          text-align: center;

          input {
            border-bottom: 1px solid grey;
            border-radius: inherit;
            width: 100%;
            background-color: $bg;
            padding: 0 0 3px 0;
            min-height: 24px;
            font-size: 13px;
          }
        }
      }
    }
  }

  @-webkit-keyframes slideFromLeft {
    0% {
      margin-left: -200px;
      opacity: 0;
    }

    100% {
      margin-left: 0;
      opacity: 1;
    }
  }

  @keyframes slideFromRight {
    0% {
      margin-right: -200px;
      opacity: 0;
    }

    100% {
      margin-right: 0;
      opacity: 1;
    }
  }

  @-webkit-keyframes slideFromRight {
    0% {
      margin-right: -200px;
      opacity: 0;
    }

    100% {
      margin-right: 0;
      opacity: 1;
    }
  }
}