/*

1. Structure Banniere / Menus
2. Detail des credits / Invoices
3. Activities
4. Properties
5. Messages & Message detail
6. Notifications

*/

@import 'variables.scss';

body.old-styles {
  /* 1. Structure Banniere / Menus ---------------------------------- */

  section#users {
    padding: 30px 0 40px 0;
    /* Banniere Details User */

    .user-banner {
      padding-bottom: 15px;

      .name {
        position: relative;
        margin: 0 0 20px 18%;

        h3 {
          display: inline-block;
          font-size: 30px;
          font-weight: 500;
        }

        h4 {
          display: inline-block;
          color: $acid-blue;
          font-size: 20px;
          font-weight: 500;
          margin-left: 15px;
        }

        .edit-picto {
          position: relative;
          top: 20px;
        }

        a.mail-btn {
          position: absolute;
          bottom: -10px;
          right: 0;

          img.mail-picto {
            max-width: 48px;
          }
        }
      }

      .bottom-block {
        position: relative;
        background: $black;
        border-radius: $regular-radius;

        .bottom-block-left {
          float: left;
          width: 18%;
          text-align: center;

          .avatar {
            width: 84%;
            height: 84%;
            margin: -70px 0 5px 0;
            border-radius: $big-radius;
          }

          p {
            font-size: 16px;
            padding: 0 10px;
            color: $dark-grey;
            margin-bottom: 15px;
          }
        }

        .bottom-block-center {
          float: left;
          width: 42%;
          margin: 0 2% 0 0;

          h6 {
            font-size: 20px;
            font-weight: 500;
            margin-top: 10px;

            .count-blue {
              color: $acid-blue;

              &:last-of-type {
                margin-left: 0;
              }
            }

            img {
              margin: 0 15px -2px 0;
            }
          }

          .taglist {
            margin-top: 15px;

            .tag {
              display: inline-block;
              background: $white;
              color: $grey;
              font-size: 14px;
              font-style: italic;
              border-radius: 0 20px 20px 0;
              margin: 0 8px 8px 0;
              padding: 3px 16px 4px 10px;
            }

            .rest-of-tags, .view-less-tags {
              display: none;
            }

            .view-more-tags, .view-less-tags {
              cursor: pointer;

              &:hover {
                background: $grey;
                color: $white;
              }
            }
          }

          p.user-description {
            font-size: 14px;
            line-height: 20px;
            padding-bottom: 15px;
          }
        }

        .bottom-block-right {
          position: relative;
          float: right;
          width: 38%;
          background: $light-grey;

          .col-profil-completion {
            left: 0;
            width: 100%;
            border-radius: 0 $regular-radius $regular-radius 0;
            margin: 0;
            z-index: 1;

            .profil-label {
              color: $dark-grey;
            }

            .profil-gauge {
              top: 40px;
              bottom: 15px;
            }

            .profil-gauge-state {
              background: $acid-blue;
              color: $white;

              &::before {
                border-color: transparent $acid-blue transparent transparent;
              }
            }
          }

          #map {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;
            width: 75%;
            min-height: 200px;
            border-radius: 0 $regular-radius $regular-radius 0;
            overflow: hidden;
            z-index: 2;

            p {
              margin: 0;
            }

            img {
              border-radius: 0 $regular-radius $regular-radius 0;
            }
          }
        }
      }
    }

    #users-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 30px;

      #users-left {
        width: 23%;
        /* Menu */

        ul.user-menu {
          /*width: 90%;*/

          li {
            position: relative;
            font-size: 17px;
            font-weight: 500;

            a {
              display: block;
              margin-top: 1px;
              padding: 5px 10px;

              span.label-number {
                float: right;
                display: inline-block;
                background-color: $acid-green;
                color: $white;
                font-size: 11px;
                font-weight: 500;
                line-height: 20px;
                border-radius: $big-radius;
                margin-top: 3px;
                padding: 0 8px 0 7px;
              }
            }

            &:hover, &.active {
              position: relative;
              background: $acid-blue;
              border-color: $acid-blue;
              border-radius: $small-radius 0 0 $small-radius;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 100%;
                width: 0;
                height: 0;
                border: solid transparent;
                border-left-color: $acid-blue;
                border-width: 18px 0 18px 12px;
              }

              a {
                color: $white;

                .label-number {
                  color: $acid-blue;
                  background-color: $white;
                }
              }
            }
          }
        }

        ul.user-stats {
          text-align: center;
          background-color: $black;
          border-radius: $regular-radius;
          margin-top: 50px;
          padding: 10px 15px;

          li {
            text-align: left;
            font-size: 14px;
            font-weight: 500;

            .number {
              position: relative;
              top: 2px;
              display: inline-block;
              font-size: 22px;
              font-weight: 500;
              margin-right: 3px;
            }

            &:first-of-type {
              position: relative;
              color: $acid-blue;
              font-size: 20px;
              font-weight: 500;
              margin-left: 45px;
              padding: 0 5px 5px 5px;

              &:before {
                // content: url(/Content/images/stats.png);
                position: absolute;
                top: -28px;
                left: -38px;
              }
            }
          }
        }
      }

      #users-right {
        width: 74%;

        .load-more {
          text-align: center;
          margin: 15px 0;
        }

        img.private-group {
          position: absolute;
          bottom: 10px;
          right: 10px;
          display: block;
          width: 15px;
          height: 19px;
        }
      }
    }
  }
  /* 2. Detail des credits / Invoices ---------------------------------- */

  section#users.users-credits,
  section#users.users-invoices {
    #users-right {
      h4 {
        font-size: 20px;
        font-weight: 500;
        margin: 0 0 20px 15px;

        img {
          margin: 0 0 -5px 2px;
        }
      }

      table#credit-table {
        width: 100%;

        thead {
          text-align: left;
          font-weight: normal;
        }

        td, th {
          color: $dark-grey;
          font-size: 14px;
          line-height: 19px;
          vertical-align: middle;
          border-bottom: 1px solid $black;
          padding: 6px 14px;

          &:first-of-type {
            width: 20%;
          }

          &:last-of-type {
            width: 10%;
          }

          a {
            text-decoration: underline;
          }

          &.minus {
            color: $danger-zone-red;
            font-weight: 500;
          }

          &.bonus {
            color: $acid-blue;
            font-weight: 500;
          }
        }
      }
    }
  }
  /* 3. Activities ---------------------------------- */

  section#users.users-activities {
    #users-right {
      ul.activities-list {
        width: 100%;
        padding-bottom: 20px;

        li {
          border-bottom: 1px solid darken($black, 5%);
          padding: 20px 0;

          img.avatar {
            display: inline-block;
            width: 25px;
            height: 25px;
            vertical-align: top;
            border-radius: $big-radius;
            margin: -2px 0 0 0;
          }

          .activity-details {
            display: inline-block;
            max-width: 90%;
            vertical-align: top;
            padding-left: 10px;

            .activity-title {
              color: $dark-grey;

              a.activity-user {
                font-weight: 500;
              }
            }

            .activity-horodate {
              font-size: 14px;
              margin-bottom: 15px;
            }

            .activity-preview {
              margin-top: 15px;

              img.bimobject-photo,
              img.avatar {
                display: inline-block;
                width: 60px;
                height: 60px;
                vertical-align: top;
              }

              .preview-details {
                display: inline-block;
                max-width: 90%;
                vertical-align: top;
                padding-left: 9px;

                p.preview-title {
                  font-size: 18px;
                  font-weight: 500;
                  margin-bottom: 10px;
                }

                p.preview-name,
                p.preview-manufacturer {
                  font-weight: 500;
                  margin-bottom: 5px;
                }

                p.preview-desc {
                  color: $dark-grey;
                  font-size: 15px;
                  margin-bottom: 5px;
                }

                a.preview-link {
                  color: $acid-blue;
                  font-size: 14px;
                  font-weight: 500;

                  &:hover {
                    color: $dark-grey;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* 4. Properties ---------------------------------- */

  section#users.users-properties {
    .buttons-line {
      text-align: right;
      margin-bottom: 13px;

      a {
        margin-left: 8px;
      }
    }

    #jqxproperties {
      width: 100%;
    }

    #jqxproperties {
      table td, table th,
      .jqx-custom-header, .jqx-custom-cell {
        color: $dark-grey;
        font-size: 14px;
        line-height: 19px;
        vertical-align: middle;
        border: 1px solid $black;
        padding: 6px 14px;
      }

      .jqx-custom-header {
        font-weight: 500;
      }

      .jqx-widget-header {
        background: $black;
      }

      .jqx-input, .jqx-input-group-addon {
        border-color: darken($black, 5%);
      }

      .jqx-grid-toolbar {
        color: $dark-grey;
        font-size: 14px;
        line-height: 1px;
      }

      .jqx-checkbox-all {
        margin-top: 5px;
      }

      .jqx-grid-cell-selected,
      .jqx-grid-cell-hover,
      .jqx-fill-state-pressed {
        background: darken($black, 5%);
      }
    }
  }
  /* 5. Messages & Message detail ---------------------------------- */

  .message-top {
    padding: 10px 0 20px 0;

    h3 {
      font-size: 20px;
      padding-bottom: 10px;

      a {
        font-weight: 500;
      }
    }

    a {
      margin-right: 10px;
    }
  }

  ul.messages {
    li.message-item {
      padding: 10px;
      margin-top: 5px;
      border-left: 5px solid $black;
      min-height: 70px;

      &:hover {
        background: $black;
        border-radius: 0 $regular-radius $regular-radius 0;
      }

      &.sender-message:hover {
        background: $white;
      }

      &.new-message {
        border-left: 5px solid $acid-green;
      }

      a.message-link:hover {
        color: $dark-grey;
      }

      .message-content {
        float: left;
        width: 68%;

        .mess-avatar {
          float: left;
          border-radius: $big-radius;
          margin-right: 10px;
        }

        .sender {
          display: block;
          font-size: 18px;
          font-weight: 500;
        }

        a {
          display: inline-block;
          font-weight: 500;
        }

        &.message-content-detail {
          width: 100%;
        }

        .message-content-value {
          margin-left: 65px;

          .timestamp {
            display: block;
            font-size: 14px;
            font-weight: 500;
            margin-top: 15px;
          }
        }
      }

      .reply-count {
        float: right;
        width: 28%;
        text-align: center;

        h5 {
          color: $dark-grey;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
  /* 6. Notifications ---------------------------------- */

  section#users.users-notifications {
    #users-right {
      ul.activities-list {
        li {
          border-left: 5px solid $black;
          margin-bottom: 5px;
          padding: 20px 0 20px 20px;

          &:hover {
            background: $black;
          }

          &:first-of-type {
            padding-top: 0;
          }

          &.active {
            border-left: 5px solid $acid-blue;
          }

          span {
            font-size: 18px;
            font-weight: 500;
          }

          .btn-third {
            margin: 10px 10px 0 0;
          }
        }

        span {
          font-size: 20px;
          font-weight: 500;
        }

        div {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}