/* Code Couleur */
//$black: #000;
//$black-grey: #212121;
//$dark-grey: #4a5d6a;
$primary-blue: #4b5e6b;
//$neutral-grey: #7a94a1;
//$grey: #676767;
//$inactive-grey: #8d99a1;
//$primary-grey: #a4a4a4;
//$soft-grey: #ebedef;
//$light-grey: #f3f3f3;
//$black: #212121;
$black: rgba(33,33,33,.9);
$dark-grey: #676767;
$grey: #a4a4a4;
$soft-grey: #e2e4e5;
$body-grey: #ededed;
$light-grey2: #f3f3f3;
$light-grey: #fafafa;
$white: #fff;

$dark-blue: #00aad9;
$acid-blue: #06baec;
$light-blue: #88dbf4;
$soft-blue: #b4eaf9;

$neutral-60: #68758B;
$bc-90: #1A83F7;
$button-primary: #1A83F7;
$button-primary-hover: #0075F6;

$primary-green: #32b53a;
$acid-green: #d1d929;

$danger-zone-red: #e9485b;

$gradient-blue: linear-gradient(to left, #4c98f3, #06baec);
$gradient-green: linear-gradient(to left, #18bde9, #66fdad);

$free-offer: #72c6a2;
$free-offer-light: #b5e1ce;
$silver-offer: #40bac9;
$silver-offer-light: #79ced9;
$gold-offer: #f5c444;
$gold-offer-light: #f8d57b;
$platinum-offer: #676767;
$platinum-offer-light: #949494;

// Couleurs Classification objets
$class-green: #F96E3A;
$class-yellow: #A2191F;
$class-blue: #9F1853;
$class-acid_blue: #6929C4;
$class-red: #0043CE;
$class-dark_green: #00539A;
$class-brown: #007D79;
$class-purple: #0E6027;
$class-grey: #3C3838;
$class-acid_red: #23284E;

// Couleurs documentation
$doc-blue: #d9edf7;
$doc-green: #dff0d8;
$doc-orange: #fcf8e3;
$doc-red: #f2dede;

// Angles
$regular-radius: 8px;
$small-radius: 4px;
$notif-radius: 25px;
$big-radius: 50%;

/* Espacements details marges */
$space-very-big: 120px;
$space-big: 60px;
$space-middle: 40px;
$space-little: 20px;
$space-very-little: 10px;
$space-tiny: 5px;

$text-content-fontsize: 14px;
$text-content-lineheight: 23px;

/* Messages */
$btn-blue: #4a99f3;
$btn-light-blue: #06baec;