.modal-container.FiltersAndInspector-Inspector,
.modal-container.FiltersAndInspector-Filters
{
  height: calc(100vh - 59px);
  left: 51px;
  top: 59px;
  width: calc(100vw - 51px);
}

.oc-page-modal {
  top: 1.75rem;
}

.oc-page-modal:not(.plugin){
  /* 
    Par défaut la modal s'affiche sur toute la lageur de l'écran 
    mais lorsque l'on n'est pas sur le plugin, on prend en compte la largeur du menu 
    pour décaler la modal vers la droite
  */
  left: 25px;
}

@media ((min-width: 0px)) {   
  .oc-page-modal {
    height: calc(100vh - 2rem - 59px) !important;
  }

  .oc-page-modal:not(.plugin){
    width: calc(100vw - 2rem - 50px) !important;
  }
}

@media ((min-width: 1281px)) {   
  .oc-page-modal {
    height: calc(100vh - 7rem - 59px) !important;
  } 

  .oc-page-modal:not(.plugin){
    width: calc(100vw - 10.5rem - 50px) !important;
  }
}

@media ((min-width: 1441px)) { 
  .oc-page-modal {
    height: calc(100vh - 12rem - 59px) !important;
  }

  .oc-page-modal:not(.plugin){
    width: calc(100vw - 12rem - 50px) !important;
  }
}
